In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import progressbar

In /Users/jackom/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/jackom/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/jackom/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /Users/jackom/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/jackom/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/jackom/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/jackom/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /Users/jackom/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
cnter = 0
n_users = 99
bar = progressbar.ProgressBar(maxval=n_users+1, widgets=[progressbar.Bar('=', '[', ']'), ' ', progressbar.Percentage()])
bar.start()

[                                                                        ] N/A%

In [3]:
df = pd.DataFrame({
    "A": [1, 3] * 3,
    "B": ['a', 'b', np.nan, 'd', 'f', 20],
    "C": [np.nan, 10, np.nan, 14, 35, 'c'],
    "D": [12, 10, 2, 14, 35, 'c'],
    "E": [2, 45, 68, np.nan, 35, np.nan]
})

In [4]:
df

   A    B    C   D     E
0  1    a  NaN  12   2.0
1  3    b   10  10  45.0
2  1  NaN  NaN   2  68.0
3  3    d   14  14   NaN
4  1    f   35  35  35.0
5  3   20    c   c   NaN

In [5]:
df.groupby(['B'])['A'].value_counts().unstack()

A     1    3
B
20  NaN  1.0
a   1.0  NaN
b   NaN  1.0
d   NaN  1.0
f   1.0  NaN

In [6]:
df.groupby(by=['A', 'B'])['C', 'D'].max()

        C   D
A B
1 a   NaN  12
  f    35  35
3 20    c   c
  b    10  10
  d    14  14

In [7]:

df.groupby(by=['A', 'B'])['C'].max().unstack()

B   20    a    b    d    f
A
1  NaN  NaN  NaN  NaN   35
3    c  NaN   10   14  NaN

In [8]:
df.groupby(by=['A', 'B'])['C', 'D'].max().unstack()

     C                        D
B   20    a    b    d    f   20    a    b    d    f
A
1  NaN  NaN  NaN  NaN   35  NaN   12  NaN  NaN   35
3    c  NaN   10   14  NaN    c  NaN   10   14  NaN

In [9]:
df.pivot_table(values=['C', 'D'], index=['A'], columns=['B'], aggfunc=np.max)

     C                   D
B   20    b    d    f   20    a    b    d    f
A
1  NaN  NaN  NaN   35  NaN   12  NaN  NaN   35
3    c   10   14  NaN    c  NaN   10   14  NaN

In [10]:
cnter+=1 
bar.update(cnter)

In [11]:
A = np.array([10,4,6,7,1,5,3,24,9,10,18])
B = np.array([1,8,8,9])

In [12]:
A[np.in1d(A, B)]

array([1, 9])

In [13]:
np.intersect1d(A, B)

array([1, 9])

In [14]:
np.intersect1d(A, B, assume_unique=True)

array([ 1,  8,  9, 10])

In [15]:
np.setdiff1d(A, B, assume_unique=True)

array([10,  4,  6,  7,  5,  3, 24, 10, 18])

In [16]:
cnter+=1 
bar.update(cnter)

[=                                                                       ]   2%

In [17]:
s = 'Documentary|Short'
s.split('|')

['Documentary', 'Short']

In [18]:
s = pd.Series(['a_b_c_f_j', 'c_d_e_f_h', np.nan, 'f_g_h_x_g'])

In [19]:
s

0    a_b_c_f_j
1    c_d_e_f_h
2          NaN
3    f_g_h_x_g
dtype: object

In [20]:
s.str.split('_')

0    [a, b, c, f, j]
1    [c, d, e, f, h]
2                NaN
3    [f, g, h, x, g]
dtype: object

In [21]:
s.str.split('_', expand=True)

     0    1    2    3    4
0    a    b    c    f    j
1    c    d    e    f    h
2  NaN  NaN  NaN  NaN  NaN
3    f    g    h    x    g

In [22]:
cnter+=1 
bar.update(cnter)

[==                                                                      ]   3%

In [23]:
a = np.array([2,4,6,8,10])

In [24]:
np.where(a > 5)

(array([2, 3, 4]),)

In [25]:
np.where(a > 5, 1, -1)

array([-1, -1,  1,  1,  1])

In [26]:
np.argwhere(a > 5)

array([[2],
       [3],
       [4]])

In [27]:
np.argmax(a)

4

In [28]:
np.argmin(a)

0

In [29]:
s = [75.48556738,   9.67425201]

In [30]:
np.diag(s)

array([[75.48556738,  0.        ],
       [ 0.        ,  9.67425201]])

In [31]:
cnter+=1 
bar.update(cnter)

[==                                                                      ]   4%

In [32]:
np.array(df['C'])

array([nan, 10, nan, 14, 35, 'c'], dtype=object)

In [33]:
np.count_nonzero(~np.isnan(np.array(df['E'])))

4

In [34]:
cnter+=1 
bar.update(cnter)

In [35]:
a = np.array([[1,3,6],[9,5,6],[2,2,3]])

In [36]:
a

array([[1, 3, 6],
       [9, 5, 6],
       [2, 2, 3]])

In [37]:
np.matrix(a)

matrix([[1, 3, 6],
        [9, 5, 6],
        [2, 2, 3]])

In [38]:
a.argsort()

array([[0, 1, 2],
       [1, 2, 0],
       [0, 1, 2]])

In [39]:
a.argsort(axis=0)

array([[0, 2, 2],
       [2, 0, 0],
       [1, 1, 1]])

In [40]:
b = [1, 3, 6, 9, 5, 6, 2, 2, 3]

In [41]:
np.argsort(b)

array([0, 6, 7, 1, 8, 4, 2, 5, 3])

In [42]:
np.argsort(b)[::-1]

array([3, 5, 2, 4, 8, 1, 7, 6, 0])

In [43]:
cnter+=1 
bar.update(cnter)

[====                                                                    ]   6%

In [44]:
first = pd.DataFrame({'item_id':['a','b','c','b','d'],'item_price':[1,2,3,2,4]})
second = pd.DataFrame({'item_id':['a','b','f'],'item_atr':['k1','k2','k3']})

In [45]:
first, second

(  item_id  item_price
 0       a           1
 1       b           2
 2       c           3
 3       b           2
 4       d           4,
   item_id item_atr
 0       a       k1
 1       b       k2
 2       f       k3)

In [46]:
first.merge(second, on=['item_id'])

  item_id  item_price item_atr
0       a           1       k1
1       b           2       k2
2       b           2       k2

In [47]:
first.merge(second, on=['item_id'], indicator=True)

  item_id  item_price item_atr _merge
0       a           1       k1   both
1       b           2       k2   both
2       b           2       k2   both

In [48]:
pd.concat([first, second])

/Users/jackom/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

  item_atr item_id  item_price
0      NaN       a         1.0
1      NaN       b         2.0
2      NaN       c         3.0
3      NaN       b         2.0
4      NaN       d         4.0
0       k1       a         NaN
1       k2       b         NaN
2       k3       f         NaN

In [49]:
pd.concat([first, second], axis=1)

  item_id  item_price item_id item_atr
0       a           1       a       k1
1       b           2       b       k2
2       c           3       f       k3
3       b           2     NaN      NaN
4       d           4     NaN      NaN

In [50]:
pd.concat([first, second], axis=0)

/Users/jackom/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

  item_atr item_id  item_price
0      NaN       a         1.0
1      NaN       b         2.0
2      NaN       c         3.0
3      NaN       b         2.0
4      NaN       d         4.0
0       k1       a         NaN
1       k2       b         NaN
2       k3       f         NaN

In [51]:
first.join(second, lsuffix='_caller')

  item_id_caller  item_price item_id item_atr
0              a           1       a       k1
1              b           2       b       k2
2              c           3       f       k3
3              b           2     NaN      NaN
4              d           4     NaN      NaN

In [52]:
second.set_index('item_id')

        item_atr
item_id
a             k1
b             k2
f             k3

In [53]:
first.join(second.set_index('item_id'), on='item_id')

  item_id  item_price item_atr
0       a           1       k1
1       b           2       k2
2       c           3      NaN
3       b           2       k2
4       d           4      NaN

In [54]:
first.merge(second)

  item_id  item_price item_atr
0       a           1       k1
1       b           2       k2
2       b           2       k2

In [55]:
pd.merge(first, second)

  item_id  item_price item_atr
0       a           1       k1
1       b           2       k2
2       b           2       k2

In [56]:
cnter+=1 
bar.update(cnter)

[=====                                                                   ]   7%

In [57]:
round(3.1415926, 3)

3.142

In [58]:
third = pd.DataFrame({
    'column1': [1, 3, 6, 8],
    'column2': ['one', 'two', 'three', 'four'],
    'column3': [{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9', 'reward': 5}, {'amount': 8}, {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}, {'reward': 20}]
})

In [59]:
third.column3

0    {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...
1                                        {'amount': 8}
2     {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}
3                                       {'reward': 20}
Name: column3, dtype: object

In [60]:
third.column3.apply(pd.Series)

,offer id,reward,amount,offer_id
0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5.0,NaN,NaN
1,NaN,NaN,8.0,NaN
2,NaN,NaN,NaN,2906b810c7d4411798c6938adc9daaa5
3,NaN,20.0,NaN,NaN

In [61]:
cnter+=1 
bar.update(cnter)

In [62]:
df = pd.DataFrame({"name": ["a","a","a","b","b","c"], "value": [1,2,3,4,5,6]})
df

  name  value
0    a      1
1    a      2
2    a      3
3    b      4
4    b      5
5    c      6

In [63]:
df['value_shift_down'] = df.groupby('name')['value'].shift()
df

  name  value  value_shift_down
0    a      1               NaN
1    a      2               1.0
2    a      3               2.0
3    b      4               NaN
4    b      5               4.0
5    c      6               NaN

In [64]:
df['value_shift_up'] = df.groupby('name')['value'].shift(-1)
df

  name  value  value_shift_down  value_shift_up
0    a      1               NaN             2.0
1    a      2               1.0             3.0
2    a      3               2.0             NaN
3    b      4               NaN             5.0
4    b      5               4.0             NaN
5    c      6               NaN             NaN

In [65]:
cnter+=1 
bar.update(cnter)

[======                                                                  ]   9%

In [66]:
df = pd.DataFrame({
    "A": [1, 3] * 3,
    "B": ['a', 'b', np.nan, 'd', 'f', 20],
    "C": [np.nan, 10, np.nan, 14, 35, 'c'],
    "D": [12, 10, 2, 14, 35, 'c'],
    "E": [2, 45, 68, np.nan, 35, np.nan]
})
df

   A    B    C   D     E
0  1    a  NaN  12   2.0
1  3    b   10  10  45.0
2  1  NaN  NaN   2  68.0
3  3    d   14  14   NaN
4  1    f   35  35  35.0
5  3   20    c   c   NaN

In [67]:
df.groupby(['A', 'B']).ffill()

   A    B    C   D     E
0  1    a  NaN  12   2.0
1  3    b   10  10  45.0
2  1  NaN  NaN   2  68.0
3  3    d   14  14   NaN
4  1    f   35  35  35.0
5  3   20    c   c   NaN

In [68]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df

   A  B
0  1  2
1  3  4

In [69]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df2

   A  B
0  5  6
1  7  8

In [70]:
df.append(df2)

   A  B
0  1  2
1  3  4
0  5  6
1  7  8

In [71]:
cnter+=1 
bar.update(cnter)

In [72]:
df = pd.DataFrame({
    'a': [1, 2, 3, 4, 5, 6],
    'b': [1, 1, 2, 3, 5, 8],
    'c': [1, 4, 9, 16, 25, 36]
})
df

   a  b   c
0  1  1   1
1  2  1   4
2  3  2   9
3  4  3  16
4  5  5  25
5  6  8  36

In [73]:
df.diff?

In [74]:
bar.finish()

[========================================================================] 100%